//SAM: geen idee hoe ik dit in de header kan krijgen, want is specifiek voor deze pagina
//en niet voor alle pagina's (swat, het werkt hier ook)
script(id="shareditem-template", type="text/x-jquery-tmpl")
	.mainitem
		.image
		span.user
			${user}:
		span.comment
			${comment}
		div.shared
			span.timesshared
			span &nbsp;maal gedeeld
		div.title uit ${title}
	ul.similaritems
	
script(id="similaritem-template", type="text/x-jquery-tmpl")
	span &nbsp;-&nbsp;
	span.user
		${user}:
	span.comment
		${comment}

header De Minuut
	input#username(type="input", value="matthias")
.mainview#mainview-remotecontrol
	ul
.mainview#mainview-share
	span#playsnow speelt nu:
		span#currentlyplaying
	br
	br
	textarea(rows="5", placeholder="commentaar")
	br
	button Deel deze minuut
.mainview#mainview-shareditems
	video#myvideo(width="100%", height="200px"  , controls="controls")
	.iwatchlink(title="bekijk de volledige aflevering op iWatch")
	ul.shareditems
nav
	.item#remotecontrol
	.item#share
	.item#shareditems
