!!!
html
	head
		title De Minuut 
		link(rel='stylesheet', href='./stylesheets/reset.css')
		link(rel='stylesheet', href='./stylesheets/style2.css')
		script(src='http://cdn.pubnub.com/pubnub-3.1.min.js', pub-key="pub-7b2681ab-27d3-47dc-8278-15aa1d8bfb57" ,sub-key="sub-6bee67b8-41be-11e1-99f4-754603d9dc6f" ,ssl="off", origin="pubsub.pubnub.com", id="pubnub")
		script(src='./javascripts/#{script}.js')
		script(src='./javascripts/jquery-1.6.4.min.js')
		script(src='./javascripts/jquery.tmpl.min.js')
		script(src='./javascripts/jquery.animate-enhanced.min.js')
		script(src='./javascripts/underscore.js')
		script(src='./javascripts/backbone.js')
		script(src='./javascripts/index.js')
		script(src='./javascripts/routers/router.js')
		script(src='./javascripts/models/fragment.js')
		script(src='./javascripts/models/shareditem.js')
		script(src='./javascripts/collections/fragmentlist.js')
		script(src='./javascripts/collections/shareditemlist.js')
		script(src='./javascripts/views/navigationview.js')
		script(src='./javascripts/views/mainview.js')
		script(src='./javascripts/views/remotecontrolview.js')
		script(src='./javascripts/views/shareview.js')
		script(src='./javascripts/views/shareditemsview.js')
		script(src='./javascripts/views/fragmentitem.js')
		script(src='./javascripts/views/shareditemview.js')
		script(id="shareditem-template", type="text/x-jquery-tmpl")
			.title ${title}
			.user ${user}
			.comment ${comment}
	body!= body
